.product-page {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 8rem);
}

.filter-section {
  width: 10rem;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  height: 100%;
  overflow-y: auto;
}

label {
  font-size: 0.8rem;
}

.filter-category {
  padding: 0.25rem;
  font-size: 0.9rem;
}

/* filter button for smaller screens */
.filter-toggle {
  display: none;
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 0.5rem;
}

.filter-tag-item {
  padding: 0.25rem 0.5rem;
  background-color: var(--black-inverted);
  border: thin solid var(--primary-500);
  color: var(--primary-900);
  border-radius: 1.25rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.8rem;
  margin: 2px;
}

.filter-tag-remove {
  font-size: 0.9rem;
  cursor: pointer;
}

.filter-tag-item:hover {
  border-color: var(--primary-900);
}

.products {
  padding: 1rem;
  width: calc(100vw - 10rem);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  max-width: 22%;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.badge-bestseller {
  font-size: 0.75rem;
}

.card-image {
  position: relative;
}

.product-rating {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 2px;
  background-color: var(--primary-800);
  color: var(--black-050);
  padding: 4px 6px;
  border-radius: 2px;
  width: fit-content;
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}

.product-rating i {
  font-size: 0.9rem;
}

.product-card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title,
.product-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wishlist {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--red-500);
}

.product-price-description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.product-price {
  display: flex;
  align-items: center;
  color: var(--black-800);
  font-size: 1.15rem;
}

.product-price i {
  font-size: 1.15rem;
}

.product-sell-price {
  font-size: 1rem;
  color: var(--black-500);
}

.product-sell-price i {
  font-size: 1rem;
}

.product-discount {
  border: thin solid var(--primary-700);
  color: var(--primary-700);
  font-size: small;
  padding: 0.25rem 0.5rem;
}

.product-discount i {
  font-size: small;
}

/* specifically for responsiveness of cards displayed */
@media screen and (max-width: 1050px) {
  .filter-section {
    display: none;
  }

  .filter-toggle {
    display: inline-flex;
    align-items: center;
    color: var(--primary-800);
    font-size: 1.25rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }

  .products {
    width: 100%;
  }
  
  .product-card {
    max-width: 27%;
  }
}

@media screen and (max-width: 600px) {
  .product-card {
    max-width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .product-card {
    max-width: 100%;
  }
}


/* 
for sort dropdown - futute reference
.sort-dropdown{
    text-align: right;
    padding: 0 2rem;
}
*/
