.wishlist-count{
    background-color: var(--black-500);
    bottom: 55%;
    left: 60%;
}

.wishlist-page{
    min-height: calc(100vh - 20rem);
}

.txt-my-wishlist{
  color: var(--black-600);
}

.product-card{
    max-width: 21%;
}

.product-card .btn-close{
    top: 0.25rem;
    right: 0.25rem;
}

.product-card .overlay, .product-card .btn-close{
    z-index: 1;
}

@media screen and (max-width: 1050px) {
 
    .product-card {
      max-width: 27%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .product-card {
      max-width: 40%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .product-card {
      max-width: 100%;
    }
  }